.list-item {
    transition: 0.05s;
}
.list-item:hover {
    background-color: white;
    cursor: pointer;
}

.ant-space-item {
    svg { 
        &:hover{
            fill: black; 
        } 
    }
}
